.container{
   margin: 70px auto ;
   text-align: center;
}
.icon{
    width: 70px;
    height: 70px;
}
.items{
    display: grid;
    grid-template-columns:repeat(2, 350px);
    grid-template-rows:3 ;
    justify-content: center;
    grid-gap: 40px;
    padding-top: 30px;
}
.item {
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    text-decoration: none;
    color:rgb(0, 0, 0);
    height: 150px;
    transition: transform .2s;
}
.item:nth-child(1){
    color:rgb(88, 212, 88);
}
.item:nth-child(2){
    color:red;
}
.item:nth-child(3){
    color:silver;
}
.item:nth-child(4){
    color:rgb(246, 106, 56);
}
.item:nth-child(6){
    color:rgb(133, 165, 241);
}

.item:hover{
    transform: scale(1.2);
    transform: rotate(360deg);
}


@media screen and (max-width: 768px) {
    .container{
        margin: 50px auto;
    }
    .items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }
   
  }

