.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2a363b;
  padding: 0 20px;
}
.login{
background-color: rgb(48, 102, 123);
color:white;
font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
}
.login:hover{
  font-size: 19px;
}
.header img {
  width: 140px;
}
.loginBlock{
  width: auto;
  padding: 0 7px;
  height:auto;
  background-color:transparent;
  font-size: 13px;
  font-weight:bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}

.accountInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 350px;
}
.loginInfo{
  display: flex;
  align-items: center;
}
.logout{
  display: flex;
  align-items: center;
}

.logout button{
  background-color: rgb(48, 102, 123);
  color:white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
.logout button:hover{
  font-size: 19px;
}
.accountIcon{
  width:25px;
  height: 25px;
  margin-right: 10px;
  transition: transform .7s ease-in-out;
}
.accountIcon:hover{
  transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  .header img {
    width: 130px;
    margin: 15px 0 15px 15px;
  }
}
