.nav {
	grid-area: nav;
	background-color: #ff847b;
	padding: 20px;
}

.item a {
	color: aliceblue;
	text-decoration: none;
	font-size: 18px;
	padding-bottom: 10px;
}
.item .active {
	color: rgb(167, 22, 17);
}
