*{
  letter-spacing: 2px;
  font-family:'Roboto Flex';
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
body {
  margin: 0;
  font-family: -apple-system, 'Roboto Flex', "BlinkMacSystemFont","Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



