.dialogs {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 150px;
}
.dialogsItems {
  padding: 40px;
  width: 120px;
  border-right: 5px solid rgb(255, 255, 255);
}
.dialogsItems .active {
  color: rgb(255, 255, 255);
}
.dialog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
  border-radius: 5px;
  height: 50px;
  width: 125px;
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.dialog a {
  text-decoration: none;
  color: black;
}

.dialogAvatar{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 25px;
  margin-top: 40px;
}
.messages .message {
  color: black;
  background-color: #c06c84;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.newMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

textarea {
  width: 300px;
  height: 40px;
  font-size: 20px;
  border: 3px solid rgb(255, 255, 255);
  margin-right: 10px;
  padding-left: 10px;
}

.button {
  background-color: #c06c84;
  border: rgb(255, 255, 255) 1px solid;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .dialogs {
    display: grid;
    grid-template-columns: 145px auto;
    grid-template-rows: auto 150px;
  }
  .dialogsItems {
    padding: 10px;
    width: 120px;
    border-right: 2px solid rgb(255, 255, 255);
  }
  .dialog {
    margin-top: 40px;
    border-radius: 5px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }
  .dialog img {
    width: 30px;
    height: 30px;
  }
  .messages {
    padding: 10px;
    margin-top: 40px;
  }
  .messages .message {
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  }

  textarea {
    width: 200px;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 10px;
  }

  .button {
    width: 90px;
    height: 40px;
  }
}
