.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c5b7b;
  margin-top: 25px;
  padding: 15px;
  font-weight:bold;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.item img {
  width: 70px;
  height: 70px;
  padding-right: 15px;
}

.itemInfo {
  display: flex;
  align-items: center;
}
.likeIcon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  background-color: #c06c84;
  border: rgb(255, 255, 255) 1px solid;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.button:hover {
  background-color: transparent;
  color: black;
}

span {
  font-size: 20px;
  padding-right: 10px;
}
