.wrapper{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 120px;
    justify-content: space-around;
}
h1{
    font-weight: lighter;
}
.image{
    width: 450px;
}